<div class="project-form col-md-6">
  <h3>New Project</h3>
  <form ng-submit="createProject()">
    <div class="form-group">
      <label for="projectName">Project Name:</label>
      <input type="text" id="projectName" ng-model="name" required="required">
    </div>
    <label for="description">Description:</label>
    <div class="products">
      <div class="form-group">
        <div class=" col-sm-12">
          <textarea ng-model="description" id="description" class="form-control" cols="30" rows="10" required="required"></textarea>
        </div>
        <br class="clearfix">
      </div>
      <div class="form-group">
        <label for="duration">Duration:</label>
        <input type="number" id="duration" class="form-control" ng-model="duration" required="required">
      </div>
    </div>
    <hr>
    <div class="col-sm-12">
      <a class="btn btn-danger pull-right mrg_left1x" href="/">Cancel</a><input type="submit" class="btn btn-success pull-right" value="Done">
    </div>
  </form>
</div>
