<div class="taskcltr-form col-md-6">
  <h3>Edit Task</h3>
  <form ng-submit="editTask()">
    <div class="form-group">
      <label for="taskName">Name:</label>
      <input type="text" id="taskName" ng-model="tasks.name" required="required">
    </div>
    <label for="description">Description:</label>
    <div class="products">
      <div class="form-group">
        <div class=" col-sm-12">
          <textarea ng-model="tasks.description" id="description" class="form-control" cols="30" rows="10" required="required"></textarea>
        </div>
        <br class="clearfix">
      </div>
      <div class="form-group">
        <label for="duration">Start Date:</label>
        <input type="text" class="form-control" ng-model="tasks.start_date" required="required" placeholder="yyyy-mm-dd">
      </div>
      <div class="form-group">
        <label for="duration">End Date:</label>
        <input type="text" class="form-control" ng-model="tasks.end_date" required="required" placeholder="yyyy-mm-dd">
      </div>
    </div>
    <hr>
    <div class="col-sm-12">
      <a class="btn btn-danger pull-right mrg_left1x" href="/project/{{pid}}">Cancel</a><input type="submit" class="btn btn-success pull-right" value="Done">
    </div>
  </form>
</div>
