<div class="projectData container">
  <h3>Edit Project</h3>
  <form ng-submit="editProject()">
    <div class="form-group">
      <label for="projectName">Project Name:</label>
      <input type="text" id="name" class="form-control" ng-model="projects.name" required="required">
    </div>
    <label for="description">Description:</label>
    <div class="products">
      <div class="form-group">
        <div class=" col-sm-12">
          <textarea ng-model="projects.description" id="description" class="form-control" cols="30" rows="10" required="required"></textarea>
        </div>
        <br class="clearfix">
      </div>
      <div class="form-group">
        <label for="duration">Duration:</label>
        <input type="number" id="duration" class="form-control" ng-model="projects.duration" required="required">
        <input type="hidden" id="id" class="form-control" ng-model="projects.id">
      </div>
    </div>
    <hr>
    <div class="col-sm-12">
      <a class="btn btn-danger pull-right mrg_left1x" href="/">Cancel</a><input type="submit" class="btn btn-success pull-right" value="Update">
    </div>
  </form>
</div>
