<!-- Project Section Start -->
<div class="projectData container" ng-class="(showProject && !showProjectForm) ? '' : (showProjectForm ? 'invisible' : '');">
  <div class="row">
  	<a class="btn btn-success pull-right" ng-href="create/project">Create Project</a>
  </div>
  <hr>
  <div class="row items" ng-repeat="item in projects">
    <div class="col-sm-9">
		<span class="col-sm-4"><b>Project Name : </b>{{ item.name }}</span>
		<span class="col-sm-4"><b>Description : </b>{{ item.description }}</span>
		<span class="col-sm-4"><b>Duration:</b> {{ item.duration }}</span>
	</div>
    <div class="col-sm-1">
    	<a ng-href="project/{{item.id}}" class="btn btn-success">View</a>
    </div>
    <div class="col-sm-1">
    	<a class="btn btn-success" ng-href="edit/project/{{item.id}}">Edit</a>
    </div>
    <div class="col-sm-1">
    	<a class="btn btn-success" ng-click="deleteProject(item)">Delete</a>
    </div>
  </div>
</div>
<!-- Project Section END -->
