<!-- Project Section Start -->
<div class="projectData container">
  <div class="row">
      <div class="col-sm-12">
        <h2><b>Project Name : </b>{{projects.name}}</h2>
      </div>
      <div class="col-sm-12">
        <p><b>Description: </b>{{projects.description}}</p>
      </div>
      <div class="col-sm-12">
        <small><b>Duration:</b> {{projects.duration}}</small>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <a ng-href="/project/{{pid}}/create/task" class="btn btn-success pull-right">Create Task</a>
    </div>
  </div>
  <div class="row">
    <h3>Tasks</h3>
  </div>
  <div class="row items" ng-repeat="item in projects.tasks">
    <div class="col-sm-10">
      <span><b>Task Name : </b>{{ item.name }}</span><br>
      <span><b>Description: </b>{{ item.description }}</span>
      <br class="clearfix">
      <br>
      <span><b>Start Date:</b> {{ item.start_date }}</span>
      <span class="pull-right"><b>End Date:</b> {{ item.end_date }}</span>
    </div>
    <div class="col-sm-1">
      <a ng-href="/project/{{pid}}/edit/task/{{ item.id }}" class="btn btn-success">Edit</a>
    </div>
    <div class="col-sm-1">
      <a class="btn btn-success" ng-click="deleteTask(item)">Delete</a>
    </div>
  </div>
</div>
<!-- Project Section END -->
