.items {
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px 5px;
  margin-bottom: 10px;
  display: block;
  color: #000;
}

.invisible {
  display: none;
}

.clearfix {
  clear:both;
}

.mrg_left1x {
  margin-left: 10px;
}
